@model AppSettings
<div class="full-screen-container" style="background-color: @Model.BackgroundColor;">
    <div class="absolute-centered-element">
        <b>@Model.Text!</b>
    </div>
    <div class="absolute-centered-element">
        Welcome to <i>@ViewData["AppName"]</i> in <i>@ViewData["Environment"]</i>.
    </div>

    <div>
        <iframe src="https://giphy.com/embed/JJ6kRird7o8cE" width="200" height="200" frameBorder="0" class="giphy-embed"></iframe>
    </div>
</div>